PORT=
REDIS_HOST=
REDIS_PORT=
MONGODB_URI=
FRONTEND_URL=

# Swagger Configuration
SWAGGER_USER=
SWAGGER_PASS=
SWAGGER_SERVER_LOCAL=
SWAGGER_SERVER_STAGING=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
# TELEGRAM_CHAT_ID=-1004490023512